@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Jost:wght@400;600;700&family=Public+Sans&display=swap');

:root{
  --primary: #AD1FEA;
  --dark-blue: #4661E6;
  --navbar: #373f68;
  --white:#FFFFFF;
  --light-gray:#F7F8FD;
  --dark-gray:#F2F4FF;
  --deep-gray:#647196;
  --deep-dark-gray:#3A4374;
  --orang:#F49F85;
  --red: #d73737;
  --light-blue:#62BCFA;
  /* Hover colors */
  --primary-hvr: #c75af6;
  --dark-blue-hvr: #7c91f9;
  --deep-dark-gray-hvr: #656ea3;
  --red-hvr: #e98888;
  --go-back-hvr: #373f68;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}
h1,h2,h3,h4{font-weight: bold;}
h1{
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -.33px;
}
h2{
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -.25px;
}
h3{
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -.25px;
}
h4{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -.2px;
}
body{
  font-size: 16px;
  line-height: 23px;
  background-color: var(--light-gray);
}
li{list-style: none;}
button{
  width: 158px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: var(--white);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
button.primary{background-color: var(--primary);}
button.primary:hover{background-color: var(--primary-hvr);}
button.dark-blue{background-color: var(--dark-blue);}
button.dark-blue:hover{background-color: var(--dark-blue-hvr);}
button.deep-dark-gray{background-color: var(--deep-dark-gray);}
button.deep-dark-gray:hover{background-color: var(--deep-dark-gray-hvr);}
button.red{background-color: var(--red);}
button.red:hover{background-color: var(--red-hvr);}
button.go-back{color: var(--deep-gray);
background-color: transparent;}
button.go-back:hover{text-decoration: underline;}
input{
  width: 255px;
  height: 48px;
  background-color: var(--light-gray);
}
input:active{border: 1px solid var(--dark-blue);color: var(--deep-dark-gray);}
textarea:focus-visible,
input[type=text]:focus-visible{
  border-color: var(--dark-blue)!important;
}
option{
  width: 255px;
  /* min-height: 240px; */

}
/* .main-content, */
.sidebar .tags-card,
.sidebar .roadmap-card,
.sidebar .roadmap-card{
  background-color: var(--white);
  border-radius: 10px;
  /* padding: 10px; */
}
body{
  /* font-family: 'Ibarra Real Nova', serif; */
  /* font-family: 'Public Sans', sans-serif; */
  /* font-family: 'Jost', sans-serif; */
}
#app{
  width: 100%;
  margin-top: 20px;
}