@import './base.css';

.no-feedback{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 560px;
}
.no-feedback h1{
  margin: 20px 0;
}
.no-feedback p{
  margin-bottom: 50px;
}

@media screen and (min-width: 375px) and (max-width: 768px){
  h1{
    font-size: 15px;
    letter-spacing: -.19px;
  }
  p{
    font-size: 13px;
  }
}

@media screen and (min-width: 787px) and (max-width: 1200px){}